{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your email address to sign in – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Continue to the service you need to use</h1>

      <p class="govuk-body">We’ve checked your details. You can now continue to the service you need to use.</p>

      <p class="govuk-body">Some of the information you shared when you proved your identity might be used to automatically fill in forms within the service.</p>

      {{ govukButton({
        text: "Continue",
        href: "https://ch-account-webfiling-prototype-7225a59d1c82.herokuapp.com/migration-1/One-login-return"
      }) }}

  </div>
</div>

{% endblock %}
