{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your password – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{currentUrl}}" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which iPhone model do you have?
            </h1>
          </legend>
          <div id="validPassport-hint" class="govuk-hint">
            The iPhone 7 was released in 2016. If you purchased your smartphone after 2016, you likely have an iPhone 7 or newer.
          </div>       
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="iphoneModel" name="iphoneModel" type="radio" value="7">
              <label class="govuk-label govuk-radios__label" for="iphoneModel">
                iPhone 7 or newer
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="iphoneModel-2" name="iphoneModel" type="radio" value="6">
              <label class="govuk-label govuk-radios__label" for="iphoneModel-2">
                iPhone 6s or older
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How do I know which iPhone I have?
          </span>
        </summary>
        <div class="govuk-details__text">
          You can easily find the iPhone model you have by going to Settings > General > About and looking at the ‘Model Name’.
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What if I have an iPhone SE?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>If you have an iPhone SE from 2022 (3rd generation) or from 2020 (2nd generation), select ‘iPhone 7 or newer’.</p>

          <p>If you have an iPhone SE from 2016 (1st generation), select ‘iPhone 6s or older’.</p>
        </div>
      </details>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
