{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your password – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Prove your identity another way</h1>

    <p class="govuk-body">Based on what you told us, you cannot prove your identity online with GOV.UK One Login.</p>

    <h2 class="govuk-heading-m">What you can do</h2>

    <p class="govuk-body">Continue to the service you were trying to use and look for other ways to prove your identity.</p>

      {{ govukButton({
        text: "Continue",
        href: "https://ch-account-webfiling-prototype-7225a59d1c82.herokuapp.com/migration-1/One-login-return"
      }) }}

      <p class="govuk-body">
        <a href="#" class="govuk-link">Contact the GOV.UK account team (opens in a new tab)</a>
      </p>

  </div>
</div>

{% endblock %}
