{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your email address to sign in – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="drivingExpire-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            When does your national identity card expire?
          </h1>
        </legend>
        <div id="eeaIdDate-hint" class="govuk-hint">
          We need this information to check that your photo ID is valid.
        </div>
        <div id="eeaIdDate-hint" class="govuk-hint">
          For example, 31 3 2025
        </div>
        <div class="govuk-date-input" id="eeaIdDate">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="eeaIdDate-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="eeaIdDate-day" name="eeaIdDate-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="eeaIdDate-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="eeaIdDate-month" name="eeaIdDate-month" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="eeaIdDate-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="eeaIdDate-year" name="eeaIdDate-year" type="text" inputmode="numeric">
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    {{ govukButton({
      text: "Continue",
      href: "eea-id-address"
    }) }}

  </div>
</div>

{% endblock %}
